/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* body {

} */


/******************************************
/* LAYOUT
/*******************************************/
nav {
  width: 13%;
  height: 100vh;
  padding: 1.5% 0 0 1.5%;
  float: left;
}

nav > img {
  width: 100%;
  height: auto;
  padding-right: 60%;
}

nav > div.extraCrunch {
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

nav > div.extraCrunch > a {
  color: rgb(255, 206, 0);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

nav > a.login {
  text-decoration: none;
  color: rgb(140, 140, 140);
  font-weight: 500;
  font-size: 1.3rem;
}

nav > ul {
  list-style: none;
  padding-left: 0;
  margin-top: 13%;
  font-size: 1.5rem;
}

nav > ul > li {
  margin-top: 8%;
}
nav > ul > li > a {
  text-decoration: none;
  color:rgb(140, 140, 140)
}

/* add extra bottom margin/padding to second to last element and bottom border */

nav > ul > li:nth-last-child(2){
  border-image: linear-gradient(to right, rgb(140, 140, 140) 13%, transparent 13%)1;
  border-bottom: 3px solid;
  padding-bottom: 15%;
  margin-bottom: 15%;
}

nav > ul form {
  width: 100%;
}

nav > ul input {
  color: rgb(140, 140, 140);
  width: 40%;
  float: left;
  border: none;
  line-height: 100%;
}

nav > ul form svg {
  width: 13%;
  stroke:rgb(140, 140, 140);
  height: auto;
  float: left;
}

/* main, section.feedRight, section.feedBottom {
  border: 1px solid red;
} */

main {
  float: left;
  width: 52.2%;
  height: 100%;
  padding-right: 2%;
  padding-top: 2%;
}

main > span {
  color: rgb(255, 206, 0);
  font-size: 1.4rem;
  font-weight: 600;
}

main > h1 {
  font-size: 4rem;
  margin: 0;
}

main > p {
  margin: 1% 0%;
}

main > h4 {
  margin: 0 0 1% 0;
}

main > img {
  width: 100%;
  height: auto;
  /* transform: scale(.9); */
  /* margin-left: -5%;
  margin-top: -5%; */
}

section.feedRight {
  float: left;
  width: 34.8%;
  font-size: 1.5rem;
  padding-right: 1%;
  
}

section.feedRight > section {
  border-top: 1px solid rgb(140, 140, 140);
}

section.feedRight > section:first-child{
  border-top: none;
}

section.feedRight > section > h4 {
  font-size: 1rem;
}

section.feedBottom {
  float: left;
  width: 87%;
}

section.feedBottom > section.bottomHead {
  padding-top: 2%;
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
  border-bottom: 1px solid rgb(140, 140, 140);
}

section.feedBottom > section.title {
  width: 33%;
  float: left;
}


section.feedBottom > section.title > h2 {
  font-size: 2.4rem;
}


section.feedBottom > section.content {
  width: 66%;
  float: left;
  padding: 1% 1% 1% 1%;
}

section.feedBottom > section.content > p, section.feedBottom > section.content > img {
  float: left;
  width: 50%;
  padding: 1%;
}

section.feedBottom > section.content > p {
  font-size: 1.4rem;
  padding-right: 5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
