/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  background-color: rgb(248, 248, 250);
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
	clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Style specific H4 */
#howToHelp h4, 
#solutionsBasedUpper h4, 
#createAccountBumper > h4, 
#ceoPromise > h4  {
  color: rgb(131, 143, 157);
}


/******************************************
/* LAYOUT
/*******************************************/
/******************************************
/* + Header/Nav
/*******************************************/
header {
  height: 200px;
  background: rgb(26, 33, 48);
  color: rgb(103, 108, 119);
  font-size: 1.2em;
  padding-top: 1%;
}

header svg.logo {
  margin: 1%;
}

header ul.navList {
  float: right;
  width: 60%;
  list-style: none;
  padding: 0 40px;
}

header ul.navList li {
  float: left;
  width: 14.28%;
  text-align: center;
  margin-top: 2%;
  padding: 2%;
  border-radius: 10%;
}

header ul li#firstNav, header ul li#lastNav {
  color: rgb(175, 179, 189);
}

header ul li#lastNav {
  background-color: rgb(55, 61, 76);
}

header svg.mobileMenu {
  display: none;
}

@media all and (max-width: 1463px) {
  header {
    height: 135px;
  }
}

@media all and (max-width: 1301px) {
  header ul.navList {
    width: 90%;
  }
}

@media all and (max-width: 900px) {
  header svg.logo {
    margin: 0;
  }
  header ul.navList {
    display: none;
  }
  header svg.mobileMenu {
    display: block;
    float: right;
    margin: 1%
  }
}

/******************************************
/* + Main
/*******************************************/
main {
  background: linear-gradient(-5deg, rgb(248, 248, 250) 40%, rgb(26, 33, 48) 40%);
  height: 350px;
  color: rgb(248, 248, 250);
  margin-bottom: 0;
}
/* * Left section of main (text/links/buttons) */
main > section.mainLeft, main > section.mainRight {
  width: 50%;
  float: left;
  padding-left: 7%;
}

main > section.mainLeft > h1 {
  width: 70%;
}

main > section.mainLeft > p {
  width: 80%;
  color: rgb(132, 136, 143);
}

main > section.mainLeft > p + div.links > {
  width: 80%;
}

/* * Order Button styles */
main > section.mainLeft > p + div.links > a.orderButton {
  background: white;
  color: rgb(81, 86, 99);
  text-decoration: none;
  display: block;
  width: 35%;
  float: left;
  padding: 2% 10%;
  border-radius: 5px;
}

/* * Create Account link */
main > section > div.links > div.createAccount > a {
  color: white;
  text-decoration: none;
  display: block;
  width: 40%;
  float: right;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 2% 5% 0 0;
}

main > section > p + div.links > div.createAccount >svg{
  float: left;
  margin-left: 16%;
  margin-top: .6%;
}

/* * Ipad/screen preview image */
main > section.mainRight > div.whiteBorder {
  background: white;
  width: 50%;
  height: 250px;
  border-radius: 5%;
  padding: 1%;
  float: right;
  margin-right: 5%;
  box-shadow: 0 10px 15px rgb(26, 33, 48);
}

main > section.mainRight > div.whiteBorder > div.screen {
  background: rgb(222, 224, 233);
  height: 98%;
  width: 85%;
  margin: auto;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
}

main > section.mainRight > div.whiteBorder > div.screen > div.imgContainer{
  width: 100%;
  padding: 2%;
  margin: 16% 0;
}
main > section.mainRight > div.whiteBorder > div.screen > div.imgContainer > img{
  width: 40%;
  height: auto;
}

/* * General group settings */
section.group {
  width: 100%;
  background-color: rgb(248, 248, 250);
  margin-top: 0;
  
}

@media all and (max-width: 1463px) {
  main > section.mainRight > div.whiteBorder {
    width: 60%;
  }
}

@media all and (max-width: 1301px) {
  main {
    background: rgb(26, 33, 48);
  }

  main > section.mainRight {
    padding-left: 0;
    width: 50%;
  }

  main > section > p + div.links > div.createAccount >svg {
    margin-left: 10%;
  }
}

@media all and (max-width: 1000px){
  main {
    height: 500px;
  }
  main > section.mainLeft, main > section.mainRight {
    width: 90%;
    margin-bottom: 2%;
  }
  main > section.mainLeft {
    padding-left: 10%;
    text-align: center;
  }
  main > section.mainLeft > h1{
    width: 100%;
  }
  main > section.mainLeft > p{
    width: 100%;
  }

  main > section.mainRight {
    width: 100%;
    padding-left: 28%;
  }
  main > section.mainRight > div.whiteBorder {
    float: none;
    width: 61%;
    margin-right: 0;
  }
}

@media all and (max-width: 900px) {
  main {
    height: 375px;
  }
  main > section.mainRight {
    display: none;
  }
}


/******************************************
/* + Sponsor List
/*******************************************/
section.group > ul.sponsorList {
  width: 70%;
  margin: 0;
  list-style: none;
  float: right;
}
section.group > ul.sponsorList > li {
  float: right;
  padding: 1%;
}

@media all and (max-width: 1463px) {
  section.group > ul.sponsorList {
    width: 100%;
    padding-left: 0;
  }

  section.group > ul.sponsorList > li {
    text-align: center;
    width: 14.2857142857%;
  }
}

@media all and (max-width: 1000px){
  main + section.group{
    display: none;
  }
}
/******************************************
/* + How to help (first section after main)
/*******************************************/
/* * Split group containing textcontent and images 50% and float both */
section#howToHelp > section {
  width: 50%;
  float: left;
  padding-left: 5%;
}

#howToHelp h2 {
  color: rgb(48, 59, 71);
  font-size: 2.4em;
  width: 80%;
}


#howToHelp > section > p {
  color: rgb(150, 159, 171);
  font-size: 1.5em;
  width: 85%;
}

#howToHelp > section > a {
  background-color: rgb(27, 33, 48);
  display: block;
  color: rgb(176, 179, 189);
  text-decoration: none;
  padding: 2% 7%;
  border-radius: 5px;
  margin-top: 7%;
  width: 25%;
  float: left;
  text-align: center;
}

#howToHelp > section + section {
  float: right;
  width: 45%;
  padding-left: 0;
}

#howToHelp > section.imageContain > section {
  background-color: rgb(255, 255, 255);
  width: 40%;
  box-shadow: 0 10px 15px rgb(26, 33, 48);
  padding-bottom: 2%;
  text-align: center;
  float: right;
  margin: 3%;

}

#howToHelp > section.imageContain > section > img{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}

@media all and (max-width: 1000px) {
  section#howToHelp > section {
    width: 100%;
    text-align: center;
  }
  section#howToHelp > section.textContent {
    padding-left: 7%;
  }

  section#howToHelp > section > * {
    margin-right: 0;
    width: 90%;
  }

  section#howToHelp > section.imageContain {
    margin-right: 5%;
  }
}

/******************************************
/* + Solutions based company (upper)
/*******************************************/

#solutionsBasedUpper > section {
  background: rgb(222, 224, 233);
  width: 40%;
  height: 500px;
  float: left;
  margin: 10% 4%;
}

#solutionsBasedUpper > section > img {
  margin: 30%; 
  width: 40%;
  height: auto;
}

#solutionsBasedUpper > section + section {
  background: none;
  float: right;
  width: 40%;
}

#solutionsBasedUpper > section + section > a {
  background-color: rgb(27, 33, 48);
  display: block;
  color: rgb(176, 179, 189);
  text-decoration: none;
  padding: 2% 7%;
  border-radius: 5px;
  margin-top: 7%;
  width: 25%;
  float: left;
  text-align: center;
}

@media all and (max-width: 1000px) {
  #solutionsBasedUpper > section, #solutionsBasedUpper > section + section {
    width: 90%;
    text-align: center;
  }

  #solutionsBasedUpper > section > img{
    margin: 16% 30%
  }

  #solutionsBasedUpper > section + section > a {
    margin-left: 37%;
  }
}

/******************************************
/* +How Does It Work?
/*******************************************/
#howItWorks > h2 {
  width: 100%;
  text-align: center;
  font-size: 2.25em;
}

#howItWorks > p {
  font-size: 1.25em;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  color: rgb(188, 194, 202);
}

/******************************************
/* + Create an Account / Free Trial
/*******************************************/
#createAccount > section {
  background: rgb(222, 224, 233);
  width: 40%;
  height: 500px;
  float: left;
  margin: 10% 4%;

}

#createAccount > section > img {
  margin: 30%; 
  width: 40%;
  height: auto;
  border: 10px solid rgb(221, 224, 233);
}

#createAccount > section + section {
  background: none;
  float: right;
  width: 40%;
}

#createAccount > section + section > a {
  background-color: rgb(27, 33, 48);
  display: block;
  color: rgb(176, 179, 189);
  text-decoration: none;
  padding: 2% 7%;
  border-radius: 5px;
  margin-top: 7%;
  width: 25%;
  float: left;
  text-align: center;
}

@media all and (max-width: 1000px) {
  #createAccount > section {
    width: 100%;
  }

  #createAccount > section > img {
    margin: 11% 27%;
  }

  #createAccount > section + section {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 0% 17%;
  }
  #createAccount > section + section > a {
    margin-left: 37%;
  }
}

/******************************************
/* + Bumper section under Create Account/Free Trial
/*******************************************/
#createAccountBumper {
  padding-left: 5%;
  width: 100%;
  background: linear-gradient(175deg, rgb(248, 248, 250) 60%, rgb(16, 20, 33) 40%);
}
#createAccountBumper > h2 {
  font-size: 2.0em;
  width: 20%;
  margin: 0%;
}

@media all and (max-width: 1000px) {
  #createAccountBumper {
    background: rgb(248, 248, 250);
    border-top: 2px solid rgb(16, 20, 33);
    text-align: center;
  }

  #createAccountBumper > h2 {
    width: 100%;
  }
}

/******************************************
/* + Cards advertising services (white on blue background)
/*******************************************/
#serviceCards {
  background: rgb(16, 20, 33);
  overflow: hidden;
  padding-left: 5%;
}

#serviceCards > section{
  background-color: rgb(255, 255, 255);
  width: 25%;
  float: left;
  margin: 2% 0 2% 2%;
  border-radius: 5px;
  height: 150px;
}
#serviceCards > section > h2 {
  margin: 0%;
}

@media all and (max-width: 900px) {
  #serviceCards > section {
    width: 45%;
  }
}

/******************************************
/* + Solutions Based lower section (flipped versionn of upper)
/*******************************************/
#solutionsBasedLower > section {
  background: rgb(222, 224, 233);
  width: 40%;
  height: 500px;
  float: left;
  margin: 10% 4%;
}

#solutionsBasedLower > section > img {
  margin: 30%; 
  width: 40%;
  height: auto;
}

#solutionsBasedLower > section + section {
  background: none;
  float: right;
  width: 40%;
}

#solutionsBasedLower> section + section > a {
  background-color: rgb(27, 33, 48);
  display: block;
  color: rgb(176, 179, 189);
  text-decoration: none;
  padding: 2% 7%;
  border-radius: 5px;
  margin-top: 7%;
  width: 25%;
  float: left;
  text-align: center;
}

@media all and (max-width: 1000px) {
  #solutionsBasedLower > section {
    width: 90%;
    margin: 3% 5%;
  }

  #solutionsBasedLower > section > img {
    margin: 12% 28%;
  }

  #solutionsBasedLower > section + section {
    width: 90%;
    padding: 5%;
    text-align: center;
  }

  #solutionsBasedLower > section + section > a {
    margin-left: 37%;
  }
}
/******************************************
/* + CEO / Founder Promise
/*******************************************/
#ceoPromise {
  width: 100%;
  text-align: center;
  background: white;
  height: 600px;
  padding-top: 10%;
}

#ceoPromise > span {
  width: 15%;
  float: left;
}
#ceoPromise > h2 {
  width: 70%;
  float: left;
}

#ceoPromise > section > div {
  background: rgb(221, 224, 233);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: 35%;
  float: left;
}

#ceoPromise > section > span {
  text-align: left;
  float: left;
  width: 50%;
}

/******************************************
/* + Bottom (before footer)
/*******************************************/
#bottom {
  background-color: rgb(37, 46, 62);
  height: 200px;
  padding-left: 10%;
  padding-top: 5%;
}
#bottom h2{
  width: 50%;
  float: left;
}
#bottom h4{
  margin: 0;
  color: rgb(105, 111, 122);
}

#bottom h2{
  color: rgb(195, 198, 205);
}
#bottom > section + section{
  width: 40%;
  float: right;
}
#bottom > section > a{
  background-color: rgb(47, 51, 64);
  padding: 1% 3%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1%;
}
#bottom > section > a + a{
  background-color: rgb(237, 239, 244);
  color: rgb(52, 56, 67);
}


/******************************************
/* + Footer
/*******************************************/
footer > section {
  width: 16%;
  float: left;
  padding-left: 4%;
}

footer > section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > section:nth-child(3){
  padding-top: 4.5%;
}

@media all and (max-width: 1000px) {
  footer > section.productsSecond {
    display: none;
  }

  footer > section {
    width: 20%;
  }
}

@media all and (max-width: 865px) {
  footer > section.companyInfo {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  footer > section.companyInfo > h2 {
    margin-bottom: .1%;
  }

  footer > section.companyInfo > p {
    margin: 1% 0;
  }

  footer > section.companyInfo > ul > li {
    margin-top: .25%;
  }

  footer > section.productsList,
  footer > section.usersList,
  footer > section.infoList,
  footer > section.resourcesList {
    width: 25%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
