* {
  box-sizing: border-box;
}

header, footer, section {
  border: 3px solid red;
}

header, footer {
  background-color: coral;
  height: 100px;
}

footer {
  clear: left;
}

section {
  background-color: cornflowerblue;
  height: 500px;
}

.one-fifth {
  width: 20%;
  float: left;
}

.two-fifth {
  width: 40%;
  float: left;
}

@media screen and (max-width: 600px) {
  section {
    background-color: green;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  section {
    background-color: blue;
  }
  .two-fifth {
    display: none;
  }
}